<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/css/style.css">
    <title>insta485</title>
</head>

<body>
    <!-- Insta485 Header -->
    <div>
        <a href="/"><img src="/static/images/insta_logo.png" alt="Home" style="width:50px;height:50px;"></a>
        <a href="/explore/">explore</a>
        <a href="/users/{{ logname }}/">{{ logname }}</a>
    </div>
    <div>
        <!-- DO NOT CHANGE THIS -->
        <form action="{{ url_for('acc_postreq', target=url_for('acc_edit')) }}" method="post"
            enctype="multipart/form-data">
            <p>Old password</p> <input type="password" name="password" required />
            <p>New password</p> <input type="password" name="new_password1" required />
            <p>New password, again</p> <input type="password" name="new_password2" required />
            <input type="submit" name="update_password" value="submit" />
            <input type="hidden" name="operation" value="update_password" />
        </form>
    </div>
    <div>
        <a href="/accounts/edit/"><b>Back to edit account</b></a>
    </div>
</body>
</html>