<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/static/css/style.css">
        <title>insta485</title>
    </head>

    <body>
        <!-- Insta485 Header -->
        <div>
            <a href="/"><img src="/static/images/insta_logo.png" alt="Home" style="width:50px;height:50px;"></a>
            <a href="/explore/">explore</a>
            <a href="/users/{{ logname }}/">{{ logname }}</a>
        </div>

        <!-- User Profile Information -->
        <div>
            <h2>{{ username }}</h2>
            {% if logname != username %}
            {% if logname_follows_username %}
            <p>following</p>
            <!-- DO NOT CHANGE THIS (aside from where we say 'FIXME') -->
            <form action="/following/?target=/users/{{ username }}/" method="post"
                enctype="multipart/form-data">
                <input type="submit" name="unfollow" value="unfollow" />
                <input type="hidden" name="username" value="{{ username }}" />
                <input type="hidden" name="operation" value="unfollow" />
            </form>
            {% else %}
            <p>not following</p>
            <!-- DO NOT CHANGE THIS (aside from where we say 'FIXME') -->
            <form action="/following/?target=/users/{{ username }}/" method="post"
                enctype="multipart/form-data">
                <input type="submit" name="follow" value="follow" />
                <input type="hidden" name="username" value="{{ username }}" />
                <input type="hidden" name="operation" value="follow" />
            </form>
            {% endif %}
            {% else %}
            <a href="/accounts/edit/">
                <b>Edit Profile</b>
            </a>
            <!-- DO NOT CHANGE THIS (aside from where we say 'FIXME') -->
            <form action="/accounts/logout/" method="post" enctype="multipart/form-data">
                <input type="submit" name="logout" value="Logout" />
            </form>
            {% endif %}
            <p>
                {% if total_posts == 1 %}
                {{ total_posts }} post
                {% else %}
                {{ total_posts }} posts
                {% endif %}
                <span>
                    <a href="/users/{{ username }}/followers/">
                        {% if followers == 1 %}
                        <b>{{ followers }} follower</b>
                        {% else %}
                        <b>{{ followers }} followers</b>
                        {% endif %}
                    </a>
                </span>
                <span>
                    <a href="/users/{{ username }}/following/">
                        <b>{{ following }} following</b>
                    </a>
                </span>
            </p>
            <p>{{ fullname }}</p>
            {% if logname == username %}
            <!-- DO NOT CHANGE THIS (aside from where we say 'FIXME') -->
            <form action="{{ url_for('post_post', target=request.path) }}" method="post" enctype="multipart/form-data">
                <input type="file" name="file" accept="image/*" required />
                <input type="submit" name="create_post" value="upload new post" />
                <input type="hidden" name="operation" value="create" />
            </form>
            {% endif %}
        </div>

        <!-- User Posts -->
        <div>
            {% for post in posts %}
            <a href="/posts/{{ post.postid }}/">
                <img src="/uploads/{{ post.img_url }}" alt="{{ post.postid }}">
            </a>
            {% endfor %}
        </div>
    </body>
</html>